<!-- basic application layout. We will use a "row" layout. The app takes up one entire row.-->

<div fxLayout="column" fxFill>

  <app-header titleText="{{appTitle}}"></app-header>

  <div fxFlex="90" fxLayout="row" fxLayout.xs="column" fxLayout.sm ="column">
    <div class="item item-1" fxFlex style="background-color:pink">Item 1</div>
    <div class="item item-2" fxFlex style="background-color:orange">Item 2</div>
    <div class="item item-3" fxFlex style="background-color:green">Item 3</div>
  </div>

  <app-footer></app-footer>




</div>





